# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. NumPy
2. Keras
3. Matplotlib

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

|Data Science Tools|
|-|
|Jupyter Notebooks|
|Apache Zeppelin|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:**
- Create a code cell to convert minutes to hours
- Create a code cell to multiply and add numbers
- list data science libraries

## Author
Shenyu Zhu